{% extends 'base.html.twig' %}
{% block title %}S'inscrire{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
<<<<<<< HEAD
	<main>
		<section id="inscription">
		<h1>S'inscrire</h1>
=======

<main>
<section id="inscription">
<h2>S'inscrire</h2>
	{{ form_errors(registrationForm) }}
		{{ form_start(registrationForm) }}
			<div id="display_start">
				{{ form_row(registrationForm.email, {'attr':{'class': 'input'}}) }}
>>>>>>> anwar

			<h2>{{ form_errors(registrationForm) }}</h2>

				{{ form_start(registrationForm) }}

				<div id="display_start">
					<h3>{{ form_row(registrationForm.email, {'attr':{'class': 'input', 'class': 'label'}}) }}</h3>

					<h3>{{ form_row(registrationForm.plainPassword.first, {label: 'Mot de passe', 'attr':{'class': 'input', 'class': 'label'}}) }}</h3>	

					<h3>{{ form_row(registrationForm.plainPassword.second, {label: 'Confirmer le mot de passe', 'attr':{'class': 'input', 'class': 'label'}}) }}</h3>

					<h3>{{ form_row(registrationForm.agreeTerms,{label: 'Accepter les conditions  ', 'attr':{'class': 'checkbox'}}) }}</h3>
				</div>

				<div id="bouton">
					<button type="submit" class="btn ocre">Valider</button>

				</div>

				
				{{ form_end(registrationForm) }}


		</section>
	</main>

{% endblock %}
