{% extends 'base.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block title %}Inscription{% endblock %}


{% block body %}
	<main>
		<section id="inscription">
		<h1>S'inscrire</h1>

			<h2>{{ form_errors(registrationForm) }}</h2>

				{{ form_start(registrationForm) }}

				<div id="display_start">
					<h3>{{ form_row(registrationForm.email, {'attr':{'class': 'input'}}) }}</h3>

					<h3>{{ form_row(registrationForm.plainPassword,{label: 'Mot de passe', 'attr':{'class': 'input'}}) }}</h3>	

					<h3>{{ form_row(registrationForm.agreeTerms,{label: 'Accepter les conditions  ', 'attr':{'id': 'caseCocher'}}) }}</h3>
				</div>

				<div id="bouton">
					<button type="submit" class="btn ocre">Valider</button>
				</div>
				{{ form_end(registrationForm) }}


		</section>
	</main>

{% endblock %}
