{% extends 'base.html.twig' %}
{% block title %}S'inscrire{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}

<main>
<section id="inscription">
<h2>S'inscrire</h2>
	{{ form_errors(registrationForm) }}
		{{ form_start(registrationForm) }}
			<div id="display_start">
				{{ form_row(registrationForm.email, {'attr':{'class': 'input'}}) }}

				{{ form_row(registrationForm.plainPassword,{label: 'Mot de passe', 'attr':{'class': 'input'}}) }}	

				{{ form_row(registrationForm.agreeTerms,{label: 'Accepter les conditions  ', 'attr':{'id': 'caseCocher'}}) }}
			</div>

			<div id="bouton">
				<button type="submit" class="btn ocre">Valider</button>
			</div>
		{{ form_end(registrationForm) }}


			</section>
		</main>

{% endblock %}
