{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block body %}


<main>
        <section id="firstSection">
            <div id="introduction">
                <h1> Coin des parents </h1>
                <p> Le blog utile qui partage des conseils,
                    des astuces et des idées sur la vie en famille.
                </p>
            </div>

            <div id="bouton">
                <button id="btnParent"><a href="#">Conseils pour parents</a></button>
                <button id="btnEnfant"><a href="#">Conseils pour enfants</a></button>
            </div>

            <div id="slider">
                <div id="sousSliderRow">
                    <img id="imgSousSliderRow" src="{{asset('imgBlog/calin.jpg')}}" alt="Père à mains ouvertes donne un câlin à sa fille">
                    <div class="divDisplayBloc">
                        <p id="titre"><a href="#">Les surprises, activité pour les enfants</a></p>
                        <p id="date">27/11/2023</p>
                    </div>
                </div>

                <div id="sousSliderColumn">

                    <div id="blocBasketteur">
                        <img id="imageBasketteur" class="imgSousSlider" src="{{asset('imgBlog/basket.jpg')}}"
                            alt="Père et son fils se reposent après un match de basket">
                        <div id="displayBlocBasketteur">
                            <p class="titreColumn"><a href="#">Pratiquer du sport, c'est possible!</a></p>
                            <p class="dateColumn">27/11/2023</p>
                        </div>
                    </div>

                    <div id="blocFamille">
                        <img id="imageFamilleLecture" class="imgSousSlider"
                            src="{{asset('imgBlog/famille_histoire.jpg')}}"
                            alt="Parents lisent une histoire à leur fille">
                        <div id="displayBlocFamille" class="displayBloc">
                            <p class="titreColumn">
                                <a href="#">
                                    14 raisons pour lire des histoires aux enfants
                                </a>
                            </p>
                            <p class="dateColumn">28/11/2023</p>
                        </div>
                    </div>
                    <div id="precedent"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                            viewBox="0 0 24 24">
                            <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                        </svg></div>
                    <div id="suivant"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                            viewBox="0 0 24 24">
                            <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
                        </svg></div>
                </div>
        </section>

        <section id="secondSection">
            <div id="paragrapheSecondSection">
                <p>Parce que chaque jour est une nouvelle page à écrire ensemble,
                    découvrons les clés d'une vie de famille épanouissante et complice.
                </p>
            </div>

            <div class="divContainer">
                <div class="articleIntroduction">
                    <h2>
                        <a href="#">
                            Libérez le potentiel de votre enfant
                        </a>
                    </h2>
                    <p> Dans chaque enfant, réside un monde de potentiel, une graine
                        prête à germer pour devenir quelque chose d'extraordinaire.
                        En tant que parents, éducateurs, ou mentors, nous sommes les
                        jardiniers de ces promesses, responsables de nourrir, de cultiver,
                        et d'éclairer le chemin vers l'épanouissement.
                    </p>
                </div>
                <div class="image">
                    <img src="{{asset('imgBlog/maman_calin.jpg')}}"  alt="Maman fait un câlin à sa fille dans la nature">
                </div>
            </div>

            <div class="divContainer">
                <div class="articleIntroduction">
                    <h2>
                        <a href="#">
                            Quels sports pratiquer avec les enfants?
                        </a>
                    </h2>
                    <p> Dans chaque enfant, réside un monde de potentiel, une graine
                        prête à germer pour devenir quelque chose d'extraordinaire.
                        En tant que parents, éducateurs, ou mentors, nous sommes les
                        jardiniers de ces promesses, responsables de nourrir, de cultiver,
                        et d'éclairer le chemin vers l'épanouissement.
                    </p>
                </div>
                <div class="image">
                    <img src="{{asset('imgBlog/sport.jpg')}}" alt="Maman fait du sport avec son fils à la maison">
                </div>

            </div>


            <div class="divContainer">
                <div class="image"><img src="{{asset('imgBlog/plan.jpg')}}" alt="Père barbu s'amuse avec son fils"></div>
                <div class="articleIntroduction">
                    <h2>
                        <a href="#">
                            Passer du temps de qualité avec les enfants
                        </a>
                    </h2>
                    <p>Dans chaque enfant, réside un monde de potentiel, une graine
                        prête à germer pour devenir quelque chose d'extraordinaire.
                        En tant que parents, éducateurs, ou mentors, nous sommes les
                        jardiniers de ces promesses, responsables de nourrir, de cultiver,
                        et d'éclairer le chemin vers l'épanouissement.
                    </p>
                </div>
            </div>

            <div class="divContainer">
                <div class="articleIntroduction">
                    <h2>
                        <a href="#">
                            Qu’est ce qu’il fait rire aux enfants?
                        </a>
                    </h2>
                    <p>Dans chaque enfant, réside un monde de potentiel, une graine
                        prête à germer pour devenir quelque chose d'extraordinaire.
                        En tant que parents, éducateurs, ou mentors, nous sommes les
                        jardiniers de ces promesses, responsables de nourrir, de cultiver,
                        et d'éclairer le chemin vers l'épanouissement.
                    </p>
                </div>
                <div class="image"><img src="{{asset('imgBlog/vol.jpg')}}"  alt="Père allongé tenant son fils"></div>

            </div>


        </section>

    </main>
{% endblock %}
