{% extends 'base.html.twig' %}

{% block title %}unNouveauDefi
{% endblock %}

{% block stylesheet %}
	<link
	rel="stylesheet" href="{{ asset('css/defis.css') }}">

{# <link rel="stylesheet" href="{{ asset('css/creation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
   
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> #}


{% endblock %}

{% block body %}
	<body>
		<main id="unNouveauDefi_Main">
			<section id="popUpConnexion">
				<h2 class="titre2defi">Plus d'idée de défi ?</h2>
				<div class="ensembleBlocs">
					<div class="questionBlocGauche">
						<img class="imgDefi" src="{{ asset('img/homme_question.svg') }}" alt="">
					</div>
					<div class="questionBlocDroit">
						<a href="{{path('login')}}" class="btn jaune">
							Se connecter</a>
						<br>
						<a href="{{path('app_register')}}" class="btn jaune">
							Créer un compte
						</a>
					</div>
				</div>
			</section>
		</main>

	</body>
{% endblock %}
